# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Further LaTeX object extensions
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loa
*.lof
*.log
*.loq
*.lot
*.lsg
*.nav
*.nlo
*.nls
*.not
*.ntn
*.out
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.synctex(busy)
*.toc
*.vrb
*.xdy
*~
